* {
    caret-color: transparent;
    user-select: none;
    /* cursor: url('../images/basic.cur'), auto; */
    .ant-btn {
        cursor: url('../images/basic.cur'), auto !important;
    }
    .ant-card {
        cursor: url('../images/basic.cur'), auto !important;
    }
}
